<h4 class="sub-heading">Comments on My Trips</h4>
<article class="post">
    <form class="delete-comment-form">
          <div class="post-card">
            {{#each posts as |post|}}
            {{#if post.comments}}
            {{#each post.comments}}   
            <span class="list-item"><strong>
                <li>
              </strong>
              <div class="meta">
              <a href="/post/{{post.id}}"> {{comment_text}} | {{user.first_name}} | {{post.title}} | {{ format_date created_at}}</a>
           {{!-- <button type="button" class="button delete-comment-btn">Delete Comment</button> --}}
                </div>
                    {{!-- add button & function to reply to comments--}}
                </li>
            </span>
            {{/each}}
            {{/if}}
            {{/each}}
          </div>
          </form>
</article>

