<div class="nav-mini">
  <a href="/dashboard/create" class="large-btn-nav">Create a new blog</a>
</div>

<div class="home">
{{#if posts.length}}
  <h4 class="sub-heading">My Trips</h4>
  <ol class="post-list">
    {{#each posts as |post|}}
      <li>
        <article class="post">
          <div class="post-card">
            <h5 class="blog-title">{{title}}</h5>
            <span class="list-item"><strong>Posted by:</strong>
              {{user.first_name}}
              {{user.last_name}}</span>
            <span class="list-item"><strong>Description:</strong>
              {{description}}</span>
            <span class="list-item"><strong>Location: </strong>
              {{#each locations}}
                {{city}},
                {{country}}
              {{/each}}
            </span>
            <span class="list-item"><strong>Date:
							</strong>{{end_date}}</span>
            <div class="list-item">
              <a href="/post/{{id}}" class="dash-link">More Details</a>
              <a href="/dashboard/edit/{{id}}" class="dash-link">Edit Trip</a>
            </div>
          </div>
        </article>
      </li>
    {{/each}}
  </ol>
</div>
{{/if}}