<div class="home">
  <h4 class="sub-heading">Trip Blogs</h4>
  <ol class="post-list">
{{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="post-card">
          <h4>{{title}}</h4>
          <span class="list-item"><strong>Posted by:</strong>
            {{user.first_name}} {{user.last_name}}</span>
          <span class="list-item"><strong>Description:</strong>
          {{description}}</span>
          <span class="list-item"><strong>Location: </strong>
           {{#each locations}}
           {{city}}, 
           {{country}}
           {{/each}}
          </span>
          {{!-- let's consider displaying the information below only on the 'single blog post' page --}}
          {{#if activities}}
          <span class="list-item"><strong>Activities: </strong>
           {{#each activities}}
           {{name}}
           {{/each}}
          </span>
          {{/if}}
          {{#if cuisine}}
          <span class="list-item"><strong>Cuisine: </strong>
           {{#each cuisine}}
           {{name}}
           {{/each}}
          </span>
          {{/if}}
          <span class="list-item"><strong>Start Date: </strong>{{start_date}}</span>
          <span class="list-item"><strong>End Date: </strong>{{end_date}}</span>
          <a href="/post/{{id}}">More Details</a>
        </div>
      </article>
    </li>
    {{/each}}
 <!--   <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">My London
            Trip - 5 comments</a>
          <span class="list-item"><strong>Posted by:</strong>
            Kristin Gaito</span>
          <span class="list-item"><strong>Description:</strong>
            Tour of all of the english pubs</span>
          <span class="list-item"><strong>Location:</strong>
            London, England</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">A Paris
            Adventure - 35 comments</a>
          <span class="list-item"><strong>Posted by:</strong>
            Christine Baxter</span>
          <span class="list-item"><strong>Description:</strong>
            A trip filled with art and pastries</span>
          <span class="list-item"><strong>Location:</strong>
            Paris, France</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">Family
            trip to the City - 23 comments</a>
          <span class="list-item"><strong>Posted by:</strong> Hank Kapka</span>
          <span class="list-item"><strong>Description:</strong>
            Sightseeing visit to Central Park, the MET, the Statue of Liberty,
            and Times Square</span>
          <span class="list-item"><strong>Location:</strong>
            New York, USA</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">Trip to
            Down Under - 47 comments</a>
          <span class="list-item"><strong>Posted by:</strong> Raman TV</span>
          <span class="list-item"><strong>Description:</strong>
            Harbor views and museums</span>
          <span class="list-item"><strong>Location:</strong>
            Sydney, Australia</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li> -->

  </ol>

</div>