<div class="nav-mini-pop">
	<a
				href="/popular/locations"
				class="popular-btn-nav col-4 col-sm-2 text-center"
			>Locations</a>
	<a
				href="/popular/activities"
				class="popular-btn-nav col-4 col-sm-2 text-center"
			>Activities</a>
	<a
				href="/popular/cuisine"
				class="popular-btn-nav col-4 col-sm-2 text-center"
			>Cuisine</a>
  
</div>

<div class="home">

	<div class="post">
		<div class="post-card">
			{{#if locations}}
				<h5 class="blog-title">Top Locations</h5>
				{{#each locations}}
					<li class="list-item text-start">
						{{count}}
						{{format_plural "blog" count}} |
						{{city}},
						{{country}}
						<br />
						{{#each posts}}
							<a href="/post/{{id}}" class="fw-light">{{title}}</a>
							<br />
						{{/each}}
					</li>
				{{/each}}
			{{/if}}
		</div>

		<div class="post-card">
			{{#if activities}}
				<h5 class="blog-title">Top Activities</h5>
				{{#each activities}}
					<li class="list-item text-start">
						{{count}}
						{{format_plural "blog" count}} |
						{{name}}
						<br />
						{{#each posts}}
							<a href="/post/{{id}}" class="fw-light">{{title}}</a>
							<br />
						{{/each}}
					</li>
				{{/each}}
			{{/if}}
		</div>

		<div class="post-card">
			{{#if cuisine}}
				<h5 class="blog-title">Top Cuisine</h5>
				{{#each cuisine}}
					<li class="list-item text-start">
						{{count}}
						{{format_plural "blog" count}} |
						{{name}}
						<br />
						{{#each posts}}
							<a href="/post/{{id}}" class="fw-light">{{title}}</a>
							<br />
						{{/each}}
					</li>
				{{/each}}
			{{/if}}
		</div>
	</div>
</div>