<article class="post">
	<div class="title">
		<a href="{{post_url}}" target="_blank">{{title}}</a>
		<span>({{post_url}})</span>
	</div>
	<div class="meta">
		<a href="/post/{{id}}">{{comments.length}} comment(s)</a>
	</div>
</article>