<div class="home">
  <h4 class="sub-heading">{{user.first_name}} {{user.last_name}}'s Posts</h4>

 
{{#if user.posts}}
{{#each user.posts}}
<li class="list-item">
  <a href="/post/{{id}}">{{title}}</a> | {{format_date created_at}}
</li>
{{/each}}
{{else}}
<li class="list-item ">
  <a href="/users">No Posts!</a>
</li>
{{/if}}

 <h4 class="sub-heading">{{user.first_name}} {{user.last_name}}'s Comments</h4>

{{#if user.comments}}
{{#each user.comments}}
<li class="list-item ">
  {{comment_text}} |
  <a href="/post/{{post.id}}">{{post.title}}</a>
  | {{format_date created_at}}
</li>
{{/each}}
{{else}}
<li class="list-item text-start">
  <a href="/users">No Comments!</a>
</li>
{{/if}}

</div>