<div class="nav-mini">
  
</div>

<div class="home">
  <h4 class="sub-heading">Meet our Users</h4>
  <ol class="post-list">
{{#each users as |user|}}
    <li>
      <article class="post">
        <div class="post-card">
           <a href="/users/{{id}}"class="users-title">{{first_name}} {{last_name}}</a>
           <span class="list-item">User since: <strong>{{format_date created_at}}</strong></span>
          <span class="list-item"><strong>Email: </strong>
       <a href = "mailto: {{email}}">{{email}}</a> 
          </span>
          <span class="list-item">{{posts.length}} {{format_plural "trip" posts.length}} posted</span>
          <span class="list-item">{{comments.length}} {{format_plural "comment" comments.length}} posted</span>
        </div>
      </article>
{{/each}}
   </li>
  </ol>
</div>